<div class="container">
    <h2>Formulario de Registro</h2>
    <form [formGroup]="nuevoUsuarioForm" (ngSubmit)="createUser()">
        <table>
            <tbody>
                <tr>
                    <td><label for="nombre"><i class="fas fa-user"></i> Nombre:</label></td>
                    <td><input type="text" id="nombre" formControlName="nombre" required></td>
                </tr>

                <tr>
                    <td><label for="email"><i class="fas fa-envelope"></i> Correo Electrónico:</label></td>
                    <td><input type="email" id="email" formControlName="email" required></td>
                </tr>

                <tr>
                    <td><label for="direccion"><i class="fas fa-map-marker-alt"></i> Dirección:</label></td>
                    <td><input type="text" id="direccion" formControlName="direccion" required></td>
                </tr>

                <tr>
                    <td><label for="telefono"><i class="fas fa-phone"></i> Teléfono:</label></td>
                    <td><input type="text" id="telefono" formControlName="telefono" required></td>
                </tr>

                <tr>
                    <td colspan="2"><button type="submit"><i class="fas fa-user-plus"></i> Registrar</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
