<div class="container">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <h2 class="title">Clientes Registrados</h2>
  <div class="table-wrapper">
    <table class="user-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrayUser">
          <th>{{item.id_usuario}}</th>
          <td>{{ item.nombre }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.direccion }}</td>
          <td>{{ item.telefono }}</td>
          <td>
            <button class="btn-edit" (click)="editarUsuario(item)">
              <i class="fas fa-edit"></i> Editar
            </button>
            <button class="btn-delete" (click)="deleteUser(item.id_usuario)">
              <i class="fas fa-trash-alt"></i> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <br><br>

  <!-- Formulario de edición de cliente -->
  <form id="formularioEdicion" *ngIf="formVisible" [formGroup]="nuevoUsuarioForm" (ngSubmit)="actualizarUsuario()">
    <label for="id_usuario">ID:</label>
    <input id="id_usuario" formControlName="id_usuario" required readonly>

    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" required>

    <label for="email">Correo Electrónico:</label>
    <input id="email" formControlName="email" required>

    <label for="direccion">Dirección:</label>
    <input id="direccion" formControlName="direccion" required>

    <label for="telefono">Teléfono:</label>
    <input id="telefono" formControlName="telefono" required>

    <button type="submit"><i class="fas fa-check"></i> Actualizar Cliente</button>
    <button type="button" (click)="cancelarEdicion()"><i class="fas fa-times"></i> Cancelar</button>
  </form>
</div>
